#about {
  background: white;
  padding: 7% 0;
}

.flex-conteiner-about {
  display: flex;
  width: 70%;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  padding: 2% 0;
}

.my-photo {
  height: 400px;
  width: 300px;
  border-radius: 10px;
}

.text-about {
  font-size: 19px;
  padding: 20px;
}