body {
	font-family: 'Roboto', sans-serif;
	font-size: 19px;
	width: 100%;
	height: 100%;
	background: #fff;
	margin: 0;
	padding: 0;
}

h2 {
	color: #008080;
	font-weight: 700;
	font-size: 50px;
	font-family: 'Montserrat', sans-serif;
	text-transform: lowercase;
}

h2:after {
	content: '';
	width: 50px;
	height: 3px;
	background: #40E0D0;
	display: block;
	margin: 15px auto;
	transition: all .2s ease-in-out;
	-webkit-transition: all .2s ease-in-out;
	-moz-transition: all .2s ease-in-out;
	-o-transition: all .2s ease-in-out;
	transition: all .2s ease-in-out;
}

h2:hover:after {
	width: 100px;
}

h3,
h4,
h5 {
	font-family: 'Montserrat', sans-serif;
}


/*/ SCROLL TO TOP ARROW /*/

#return-to-top {
	position: fixed;
	bottom: 20px;
	right: 20px;
	background: rgba(64, 224, 208, 0.8);
	width: 50px;
	height: 50px;
	display: block;
	text-decoration: none;
	-webkit-border-radius: 35px;
	-moz-border-radius: 35px;
	border-radius: 35px;
	display: none;
	-webkit-transition: all 0.3s linear;
	/* Define a duração e a animação da transição no Safari e no Chrome */
	-moz-transition: all 0.3s ease;
	/* Define a duração e a animação da transição no Firefox */
	-ms-transition: all 0.3s ease;
	/* Define a duração e a animação da transição no Internet Explorer */
	-o-transition: all 0.3s ease;
	/* Define a duração e a animação da transição no Opera */
	transition: all 0.3s ease;
	z-index: 999;
}

#return-to-top span {
	color: #fff;
	margin: 0;
	position: relative;
	left: 16px;
	top: 13px;
	font-size: 19px;
	-webkit-transition: all 0.3s ease;
	-moz-transition: all 0.3s ease;
	-ms-transition: all 0.3s ease;
	-o-transition: all 0.3s ease;
	transition: all 0.3s ease;
}

#return-to-top:hover {
	background: rgba(64, 224, 208, 1);
}

#return-to-top:hover span {
	color: #fff;
	top: 5px;
}


/*/ END SCROLL TO TOP ARROW /*/

/*/ NAVBAR /*/

.navbar {
	background-color: #008080;
	border: none;
	display: flex;
	justify-content: space-between;
	position: fixed;
	width: 100%;
	z-index: 1;
	border-radius: 0%;
}

.navbar .navbar-links {
	display: flex;
	align-items: center;
}

.navbar .navbar-links a {
	font-size: 16px;
	color: #fff;
	text-decoration: none;
	transition: all .40s ease-in-out;
	margin: 12px;
	position: relative;
}

.navbar .navbar-links a:hover {
	color: #40E0D0;
}

.navbar .navbar-links a:after {
	content: '';
	position: absolute;
	bottom: 0;
	left: 50%;
	width: 0;
	transform: translateX(-50%);
	height: 3px;
	background: #40E0D0;
	transition: .35s;
}

.navbar .navbar-links a:hover:after,
.navbar .navbar-links a:focus:after,
.navbar .navbar-links a:active:after {
	width: 100%;
}

@media only screen and (max-width: 1050px) {
	.navbar {
		visibility: hidden;
	}
}

/*/ END NAVBAR /*/

/*/ START INTRO /*/

.intro {
	display: table;
	width: 100%;
	height: auto;
	text-align: center;
	color: white;
	background: url(/img/headerImg.jpg) no-repeat top center scroll;
	background-size: cover;
	-o-background-size: cover;
}

.intro .intro-body {
	display: table-cell;
	vertical-align: middle;
	padding: 16% 0;
	background: rgba(0, 0, 0, 0.5);
}

.brand-heading {
	font-size: 100px;
	font-family: 'Montserrat', sans-serif;
	font-weight: 700;
	text-align: left;
	color: #40E0D0;
}

.intro .intro-body .intro-text {
	font-size: 19px;
	font-family: 'Montserrat', sans-serif;
	text-align: left;
}

@media (min-width: 768px) {
	.intro {
		height: 100%;
		padding: 0;
	}

	.intro .intro-body .brand-heading {
		font-size: 130px;
	}

	.intro .intro-body .intro-text {
		font-size: 30px;
	}
}

.mouse-warp {
	margin: 40px auto;
	display: block;
	width: 28px;
	opacity: 0.5;
}

.mouse {
	width: 28px;
	height: 50px;
	border: 2px solid #fff;
	border-radius: 14px;
}

.scroll {
	width: 4px;
	height: 4px;
	border-radius: 2px;
	background: #fff;
	position: relative;
	left: 10px;
	animation: scrolls 1.3s ease-out infinite;
}

@keyframes scrolls {
	0% {
		top: 8px;
		opacity: 0;
		-webkit-transform: scaleY(1) scaleX(1);
	}

	5% {
		top: 8px;
		opacity: 0.8;
		-webkit-transform: scaleY(1.2) scaleX(1.2);
	}

	10% {
		top: 8px;
		opacity: 1;
		-webkit-transform: scaleY(1.6) scaleX(1.6);
	}

	15% {
		top: 8px;
		opacity: 1;
		-webkit-transform: scaleY(1.2) scaleX(1.2);
	}

	20% {
		top: 8px;
		opacity: 1;
		-webkit-transform: scaleY(1.2) scaleX(1.2);
	}

	30% {
		top: 15px;
		opacity: 1;
		-webkit-transform: scaleY(1.2) scaleX(1.2);
	}

	100% {
		top: 30px;
		opacity: 0;
		-webkit-transform: scaleY(1.2) scaleX(0.8);
	}
}


/* End Scroll Down Indicator */


/*/ END INTRO /*/


/*/ START ABOUT /*/

#about-me {
	margin-top: 20px;
}

#about-me h2 {
	font-weight: 700;
	margin-top: 22px;
	padding-bottom: 10px;
	text-align: center;
}

.about-intro-text p {
	float: right;
}

.button-group {
	cursor: pointer;
	display: -webkit-inline-box;
	display: -ms-inline-flexbox;
	display: inline-flex;
}

.text {
	background: #008080;
	color: #fff;
	font-size: 19px;
	height: 50px;
	padding: 0 25px;
	line-height: 50px;
}

.icon-cv {
	font-size: 30px;
	width: 50px;
	height: 50px;
	line-height: 40px;
	box-sizing: border-box;
	border: 4px solid #008080;
	border-left: none;
	-webkit-transition: 600ms -webkit-transform ease-in-out;
	transition: 600ms -webkit-transform ease-in-out;
	transition: 600ms transform ease-in-out;
	transition: 600ms transform ease-in-out, 600ms -webkit-transform ease-in-out;
	-webkit-transform: rotateY(90deg);
	transform: rotateY(90deg);
	-webkit-transform-origin: left;
	transform-origin: left;
	color: #008080;
	background: #fff;
	text-align: center;
}

a .fa-arrow-circle-down {
	color: #008080;
}

.button-group:hover .icon-cv {
	-webkit-transform: rotateY(0deg);
	transform: rotateY(0deg);
}

.button-group {
	-webkit-perspective: 200px;
	perspective: 200px;
	-webkit-perspective-origin: calc(100% - 50px);
	perspective-origin: calc(100% - 50px);
	margin-top: 5%;
}

.about-inner {
	position: relative;
	padding: 0;
	overflow: hidden;
}

.about-inner>img {
	display: block;
	min-width: 100%;
	height: auto;
}

.img-responsive {
	height: 60rem;
}

.about-ct .textbox-about {
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
	-webkit-transform: scale(0);
	transform: scale(0);
}

.about-ct:hover .textbox-about {
	-webkit-transform: scale(1);
	transform: scale(1);
}

.textbox-about {
	-webkit-transition: all 0.7s ease;
	transition: all 0.7s ease;
}

div.button-social {
	border: 2px solid #fff;
	padding: 12px 18px;
	-webkit-transition: all .35s;
	transition: all .35s;
	border-radius: 0;
	-webkit-border-radius: 0;
	-moz-border-radius: 0;
	margin-top: 25px;
	font-size: 19px;
	color: #fff;
	margin: 5% 5%;
}

div.button-social a {
	color: #fff;
	font-size: 19px;
	margin: 15px;
}

div.button-social a:hover {
	color: #40E0D0;
}

.button-group:focus,
.icon-cv:focus,
.text:focus {
	outline: 0;
}

/*/ END ABOUT /*/

/*/ START PORTFOLIO /*/

#portfolio {
	margin-top: 20px;
}

.portfolio-ct h2 {
	font-weight: 700;
	margin-top: 22px;
	padding-bottom: 10px;
	text-align: center;
}

.center-portfolio {
	display: flex;
	justify-content:space-between;
	padding: 0 3% 3% 3%;
}

.grid-portfolio {
	margin-top: 20px;
}

.portfolio-details {
	text-align: center;
}

.thumbnail {
	border: none;
	padding: 0;
}

.projeto-texto h3 {
	color: #008080;
	font-weight: 700;
	font-size: 25px;
	font-family: 'Montserrat', sans-serif;
}

.projeto-texto p {
	font-size: 19px;
}

ul.portfolio-tags {
	padding: 10px 0 10px 0;
	text-align: center;
}

li.portfolio-tag {
	list-style-type: none;
	font-size: 13px;
	font-family: 'Montserrat', sans-serif;
	font-weight: 700;
	color: #40E0D0;
	display: inline;
	border: 2px solid #40E0D0;
	padding: 8px;
}

.icon-portfolio {
	font-size: 30px;
	color: black;
	margin: 10px;
}

.icon-portfolio:hover,
.icon-portfolio:after,
.icon-portfolio:visited footer a:focus {
	color: #40E0D0;
}

@media only screen and (max-width: 480px) {
	.center-portfolio{
		display: block;
	}
}
 
/*/ END PORTFOLIO /*/

/*/ START CONTACT /*/

footer {
	text-align: center;
	font-size: 19px;
	margin-top: 20px;
	background: url(/img/footerImg.jpg);
}

#contact h2 {
	font-weight: 700;
	margin-top: 22px;
	padding-bottom: 10px;
	text-align: center;
}

footer p {
	margin-top: 50px;
}

.social,
footer a {
	font-size: 30px;
	color: white;
	margin: 10px;
}

footer a:hover,
footer a:after,
footer a:visited footer a:focus {
	color: #40E0D0;
}

#copyright {
	margin-top: 35px;
	font-size: 14px;
	color: white;
}

/*FORM*/

.contact-form {
	padding: 8% 5%;
}

.contact-form .form-group input,
.contact-form .form-group textarea {
	background: transparent;
	border: 0;
	border-bottom: 2px solid #00d8b2;
	border-radius: 0;
	color: white;
	outline: none;
	display: block;
	width: 100%;
	padding: 1% 0;
}

.contact-form .form-group textarea {
	resize: vertical;
}


.contact-form .form-group label {
	color: white;
	float: left;
	font-weight: normal;
}


.grid {
	display: grid;
	grid-gap: 1rem;
}

@media (min-width: 544px) {
	.grid .grid-col-sm-12 {
		grid-column: span 12;
	}
}

@media (min-width: 768px) {
	.grid .grid-col-md-6 {
		grid-column: span 6;
	}
}

/*btn contact*/
.btn {
	font-size: 2rem;
	font-weight: 700;
	padding: 1rem 5rem;
	margin: 1.5625rem 0 0;
	border-radius: 2px;
	text-align: center;
	-webkit-transition: all .3s ease;
	transition: all .3s ease;
	background-color: transparent;
	text-decoration: none;
}

.btn-outline-teal {
	color: #00d8b2;
	border: 2px solid #00d8b2;
}

.btn-outline-teal:hover {
	background-color: #00d8b2;
	color: #ffffff;
}


/*/ END CONTACT /*/


/*/ MEDIA QUERIES /*/

@media only screen and (max-width: 480px) {
	.brand-heading {
		font-size: 85px;
		margin-top: 10%;
	}

	.col-exp {
		margin-top: 15%;
	}

	.timeline .timeline-experience {
		margin-left: 20px;
		padding-left: 20px;
	}

	.timeline time {
		width: 40px;
	}

	.services-item {
		margin-bottom: 15%;
	}
}