


@import url(//fonts.googleapis.com/css?family=Lato:300:400);

* {
  scroll-behavior: smooth;
}

main {
  position: absolute;
  z-index: 2;
  top: 74%;
  width: 100%;
  text-align: center;
}

.title-section {
  font-family: 'Lato', sans-serif;
  font-weight: 300;
  letter-spacing: 2px;
  font-size: 51px;
}

#footer {
  font-family: "Lato", sans-serif;
  letter-spacing: 2px;
  font-weight: bold;
  font-size: 15px;
  color: #333333;
  background-color: white;
  padding: 2px 0px 2px 0px;
}

/*
@media screen and (max-width: 950px) {
  .flex-conteiner-portfolio {
    flex-direction: column;
    align-items: center;
  }

  .flex-conteiner-about {
    flex-direction: column;
    align-items: center;
  }

  .my-photo {
    height: 400px;
    width: 230px;
  }
  
}

@media screen and (max-width: 568px) {
  .navbar {
    display: none;
  }
}

@media (max-width: 768px) {
  .waves {
    height:40px;
    min-height:40px;
  }
  .content {
    height:30vh;
  }
  h1 {
    font-size:24px;
  }
}

/*github button*/
/*
.link-list { 
  margin-bottom: 300px;
}

.github-li {
  border:1px solid rgb(255, 255, 255);
  padding: 12px;
  display: inline-block;  
  border-radius:5px;
}

.github-a {
  text-decoration: none;
  color:white;  
}
*/
