body{
  background-color: #DFCFBE;
  width: 70%;
  margin: 0 auto;
  padding: 0;
  text-align: justify;
  font-family: Georgia, serif;
  font-size: 17px;
  letter-spacing: .1px;
}

.navbar {
  list-style: none;
  display: flex;
  justify-content: space-between;
  border-top: 1px gray solid;
  border-bottom: 1px gray solid;
  padding: 15px;
  font-family: Arial, Helvetica, sans-serif;
}

.meuNome {
  text-align: center;
}

.introducao {
  font-family: sans-serif;
  margin-top: 100px;
}

strong{
  text-decoration:underline;
}
.persistencia {
  font-size: 20px;
}
.empatia{
  font-size: 18px;
}
.criatividade{
  font-size: 16px;
}

#minhaFoto {
  height : 280px;
  float: left;
  padding: 10px;
  background-color: tan;
  margin-right: 10px;
}

.imageContainer {
  height: 300px;
}


